<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218324418440-pkmtthst1s8c1q72eogh2mqo9048v87a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218324418440-pkmtthst1s8c1q72eogh2mqo9048v87a</string>
	<key>API_KEY</key>
	<string>AIzaSyCiMCYc9l9CXb5vSq3AuQF8mtl8dgJcFrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>218324418440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-7ad51</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-7ad51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218324418440:ios:17187075869c8402fdc43d</string>
</dict>
</plist>